.content {
  max-width: 1000px;
  margin: auto;
  padding: 40px 24px 24px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.icon {
  --size: 26px;
  color: rgba(0, 0, 0, 0.9);
}

.title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 18px;
  font-weight: 500;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: var(--small-border-radius);
  padding: 12px 16px;
  margin-top: 12px;
}

.itemTitle {
  font-size: 15px;
}

.textField_container {
  width: 80px;
}

.textField_input {
  height: 32px;
  padding: 0px 12px;
}
