.container {
  --color: var(--accent-color);
  --height: 22px;
  position: relative;
  height: var(--height);
  padding: 0px 16px;
}

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: calc(var(--height) / 2);
  background-color: var(--color);
  opacity: 0.2;
}

.text {
  font-size: 12px;
  font-weight: 500;
  color: var(--color);
}
