.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tableContainer {
  height: 100%;
  padding-left: 10px;
  overflow: hidden;
}

.table_container {
  padding: 0px 10px;
}

.tableHeader_cellContent {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.description {
  width: 100%;
  min-width: 280px;
  padding: 8px 26px;
  white-space: normal;
}
