.container {
  width: 100%;
  margin-top: 12px;
}

.header {
  display: flex;
  align-items: center;
}

.image {
  width: 48px;
  height: 48px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
}

.details {
  margin-top: 20px;
}

