.modal_card {
  width: 360px;
  min-height: 280px;
  height: auto;
}

.toolbar_container {
  border-bottom: 1px solid var(--border-color);
}

.toolbar_title {
  font-size: 16px;
}

.content {
  margin-top: 24px;
}

.label {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-left: 4px;
  margin-top: 24px;
}

.checkbox {
  margin: 0px;
  margin-right: 8px;
}

.error_container {
  margin: 24px 20px 8px;
}
