.page_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px 10px 12px 20px;
  margin: auto;
}

.product {
  width: fit-content;
  flex-shrink: 0;
  margin: 24px auto 20px;
}

.productImage {
  width: 72px;
  height: 72px;
}

.productName {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
}

.textFields {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.textField_container:first-child {
  margin-top: 12px;
}

.textField_container {
  width: 280px;
  margin-top: 16px;
}

.textField_input {
  height: 48px;
  font-size: 17px;
  font-weight: 500;
}

.textField_input::placeholder {
  font-weight: normal;
  font-size: 17px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.button_base {
  width: 136px;
  height: 36px;
}

.modal_card {
  width: 100%;
  max-width: 380px;
  margin: 0px 24px;
}

.confirmModal_card {
  composes: modal_card;
  height: 380px;
}
