.deleteModal_card {
  width: 360px;
  height: auto;
}

.toolbar_container {
  border-bottom: 1px solid var(--border-color);
}

.toolbar_title {
  font-size: 16px;
}

.item {
  border: 1px solid var(--border-color);
  border-radius: var(--small-border-radius);
  padding: 16px;
  margin-top: 24px;
}

.itemTitle {
  display: block;
  font-size: 15px;
  font-weight: 500;
}

.username {
  display: block;
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
}

.label {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 20px;
}

.checkbox {
  margin-right: 8px;
}

.error_container {
  margin: 24px 20px 8px;
}
