.container {
  height: 100%;
  padding: 20px 0px 0px 20px;
  overflow: hidden;
}

.table_container {
  padding-right: 10px;
}

.tableHeader_tab {
  border-top: 1px solid var(--border-color);
}

.tableRow_cell:last-child {
  padding-right: 16px;
}

.phone {
  font-size: 16px;
}
