.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
}

.title {
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  margin-left: 24px;
}

.animation {
  animation: animation 300ms;
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
