.tab {
  margin: 0px 40px 0px 0px;
  flex: 0 0 auto;
  cursor: default;
}


.title {
  font-size: 17px;
  font-weight: 400;
  line-height: 40px;
}

.disabledTitle {
  color: gray;
}

.indicator {
  height: 5px;
}

.indicatorOn {
  background-color: var(--accent-color);
}

@media (min-width: 768px) {

  .tab {
    margin: 0px 20px;
  }
}
