.systemOptions {
  height: 100%;
}

.options {
  height: calc(100% - 44px);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-sizing: border-box;
  overflow: auto;
  padding: 16px 0px 24px 0px;
}

.systemOptionDesktop_systemOption, 
.systemOptionApp_systemOption {
  width: 220px;
  height: 220px;
  margin: 72px 32px 20px;
}

.options .systemOptionDesktop_image {
  width: 220px;
  height: auto;
  border-radius: 4px;
  box-shadow: var(--shadow);
}

.options .systemOptionApp_image {
  width: auto;
  height: 150px;
  border-radius: 4px;
  box-shadow: var(--shadow);
}
