.container {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.title, .amount {
  line-height: 16px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
}

.green {
  background-color: #27AE60;
}

.blue {
  background-color: #2F80ED;
}

.purple {
  background-color: #9B51E0;
}

.orange {
  background-color: #F2994A;
}
