.modal_card {
  width: 340px;
  height: 400px;
}

.modal_content {
  padding: 0px 20px;
}


.modal_primaryButtonBase {
  margin-left: 32px;
}

.textField_container {
  width: 100%;
  margin-top: 24px;
}

.item {
  border: 1px solid var(--border-color);
  border-radius: var(--small-border-radius);
  padding: 12px 16px;
  margin-top: 24px;
}

.title {
  display: block;
  font-size: 15px;
}

.username {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
}
