.container {
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 6px 0px 16px;
  border-bottom: 1px solid var(--border-color);
}

.container:active {
  background-color: rgba(0, 0, 50, 4%);
}

.left {
  height: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.right {
  height: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: end;
}

.balanceIcon {
  --size: 22px;
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.lowBalanceIcon {
  --size: 22px;
  margin-right: 16px;
  color: var(--accent-color);
}

.title {
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}

.balance {
  width: max-content;
  font-size: 15px;
  font-weight: 700;
  color: var(--money-color);
  margin-right: 20px;
}

.lowBalance {
  color: var(--accent-color);
}

.icon {
  color: rgba(0, 0, 0, 0.7);
}
